@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#f2f2f2;}
html { padding:0; margin:0;}
a { color:#993300; text-decoration:none;}
/* main */
.main { margin:0; padding:0;}
.main_resize { margin:0 auto; padding:0 10px; max-width:958px; border-right:1px solid #ececec; border-left:1px solid #ececec; border-bottom:1px solid #ececec; background:#fff;}
.main_resize h3 { font:normal 44px Microsoft Sans Serif,sans-serif; color:#7e7e7e; padding:20px 50px 20px 5px; margin:0; text-align:right; background:#fafafa; border-bottom:1px dotted #dfdfdf;}
.main_resize h2 { font:normal 18px Microsoft Sans Serif,sans-serif; color:#2a2a2a; padding:10px 5px; margin:0;}
.main_resize h2 span { font: italic 12px Microsoft Sans Serif,sans-serif; color:#b1b1b1;}
.main_resize p { font:normal 13px Microsoft Sans Serif,sans-serif; color:#606060; line-height:1.8em; padding:5px; margin:0;}
.main_resize p span { color:#b1b1b1; font: italic 12px Microsoft Sans Serif,sans-serif; line-height:1.8em;}
/*.main_resize a { color:#2d75c0; text-decoration:none;}*/
.main_resize img { margin:5px auto; padding:0;}
.main_resize ul.serv { list-style:none; margin:10px 0 10px 5px; padding:0; width:230px; float:left;}
.main_resize li.serv { padding:5px; margin:0; font:normal 12px Microsoft Sans Serif,sans-serif; color:#2d75c0;}
.main_resize img.floated { float:left; margin:2px 10px 0 0; padding:0;}
.main_resize a img.spaced { float:left; margin:10px 10px 0 0; padding:0;}
.main_left { width:28%; max-width:250px; float:left; padding:10px 0 0 10px; margin:0; }
.main_right { width:68%; max-width:680px; float:right; padding:10px 0 0 0; margin:0; }
.main_right #viewer { width:100%; height:800px; border:none; }

.blog { width:280px; float:left; padding:0; margin:10px 30px 10px 10px;}
.blog2 { width:215px; float:left; padding:0; margin:10px 10px 30px 0;}
/* header */
.header { position:fixed; padding:0 0 10px 0; margin:0 auto; border-bottom:1px dotted #dfdfdf; background:#fff;}
.band { position:fixed; background-color: black;width: 3000px;margin-left: -1000px;height: 64px;opacity: .2; }
.margin_top { height:120px; }
/* logo */
.logo {padding:0; margin:0; float:left;}
.logo img { margin:0; padding:0;}
/*menu*/
.menu { width:800px; padding:10px 0 0 0; margin:0; float:left; }
.menu ul { padding:0; margin:0; list-style:none; border:0;}
.menu ul li { display:inline;  margin:0; padding:0; border:0; background:none;}
.menu ul li a {  display:inline; margin:0; padding:11px; color:#5a5a5a; font:normal 11px Microsoft Sans Serif,sans-serif; text-decoration:none;}
.menu ul li a:hover { background: #dfdfdf;}
.menu ul li a.active {  background: #dfdfdf;}
 /* update */
.update { width:155px; float:right; padding:0; margin: 45px 0 0 0; text-align:right; font:normal 12px Microsoft Sans Serif,sans-serif; color:#b1b1b1;}
 /* click */
.click { width:155px; float:right; padding:0; margin: 10px 0 0 0; text-align:right;}
.click p { font: normal 12px Microsoft Sans Serif,sans-serif; color:#959595; padding:0; margin:0;}
/* right_text */
.right_text { border-top:1px solid #dadada; background:#ececec; padding:0; margin:0 0 30px 0;}
.right_text p { font: normal 12px Microsoft Sans Serif,sans-serif; color:#7e7e7e; padding:15px; margin:0;}
/*************footer**********/
.footer {padding:5px 0;  margin:0;}
.footer_resize { width:958px; margin:0 auto; padding:10px 10px; background:#dfdfdf;}
.footer p { font:normal 11px  Microsoft Sans Serif,sans-serif; color:#818181;}
.footer p.right { text-align:right; width:450px; margin:0; padding:8px 0 0 0; float:right;}
.footer p.leftt { text-align:left; width:300px; margin:0; padding:8px 0 0 5px; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg {  clear:both; border-top:1px dotted #dfdfdf;}

.first_left { float:left; width:450px; height:350px; margin-top:20px; margin-left:20px; }
.first_left p { font:normal 14px Microsoft Sans Serif,sans-serif; line-height:1.8em; }
.first_left a {  display:inline; margin:0 20px 0 0; padding:0; }
.first_right { float:right; width:400px; height:370px; }
.first_right p { font:normal 12px Microsoft Sans Serif,sans-serif; line-height:1.8em; }
.first_right img { margin-left: 100px; margin-top: 30px; width:150px; height:180px; }
.first_right h2 { font:normal 18px Microsoft Sans Serif,sans-serif; color:#b1b1b1; padding:10px 5px; margin:0; }
