        <!-- DOWNLOAD -->
        <h2><img src="images/bullet_download.png" class="floated">Download<br />
          <span>Risorse | <a href="https://drive.google.com/open?id=0B8mE9nRIaUFEZjYzYzI2YTktMmQxZS00YzU1LWEyMjEtNmUyMTdmODMwZmVi">Pagina</a></span></h2>
        <p><strong>Last stable release: <!--$last_release--></strong><br>
          <span><!--$last_release_date--> | <a href="https://drive.google.com/open?id=<!--$last_release_link-->"><!--$last_release_file--></a></span><br>
          Questa è la release di riferimento per ogni esigenza di produzione.</p>
        <p><strong>Development release: <!--$dev_release--></strong><br>
          <span><!--$dev_release_date--> | <a href="https://drive.google.com/open?id=<!--$dev_release_link-->"><!--$dev_release_file--></a></span><br>
          Questa release è sperimentale: non deve essere usata in ambienti di
          produzione ed è dedicata alle sole attività di sviluppo.</p>
        <h2>&nbsp;</h2>


        <!-- COMMUNITY -->
        <h2><img src="images/bullet_support.png" class="floated">Community<br>
          <span>Risorse | <a href="community.html">Pagina</a></span></h2>

        <p><strong>Google groups:</strong><br></p>
          <p><span>Pubblico | <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank">Assistenza</a></span><br>
          Canale pubblico di supporto: il posto migliore da cui cominciare se non sai da dove cominciare...</p>
          <p><span>Privato | <a href="https://groups.google.com/forum/#!forum/jxdev" target="_blank">Sviluppo</a></span><br>
          Canale di analisi, consultazione e proposte sullo sviluppo. Il canale è riservato alla community.</p>

        <h2>&nbsp;</h2>
