        <!-- COMMUNITY -->
        <h2><img src="images/bullet_support.png" class="floated">Community</h2>

        <p><strong>Google groups:</strong><br></p>
          <p><span>Pubblico | <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank">Assistenza</a></span><br>
          Canale pubblico di supporto: il posto migliore da cui cominciare se non sai da dove cominciare...</p>
          <p><span>Privato | <a href="https://groups.google.com/forum/#!forum/jxdev" target="_blank">Sviluppo</a></span><br>
          Canale di analisi, consultazione e proposte sullo sviluppo. Il canale è riservato alla community.</p>
        <h2>&nbsp;</h2>

        <h2><img src="images/bullet_community.png" class="floated">Dicono di Janox</h2>

        <img src="images/quote.png" alt="" width="18" height="17" class="floated" />
        <p>Con Janox riusciamo ad offrire ai clienti tempi di risposta estremamente competitivi.&quot;</p>
        <p><em><strong>Valerio Pancella</strong></em><br><em>Responsabile Software Ekovision</em></p>
        <p>&nbsp;</p>

        <img src="images/quote.png" alt="" width="18" height="17" class="floated" />
        <p>È un potentissimo strumento di creazioni di applicazioni "middleware"
           perché è totalmente indipendente dai database e dai device di interazione&quot;</p>
        <p><em><strong>Gianfranco Righi</strong></em><br><em>Responsabile Tecnico Uniteam</em></p>
        <p>&nbsp;</p>

        <img src="images/quote.png" alt="" width="18" height="17" class="floated" />
        <p>Lo strumento ideale per realizzare applicazioni complesse restando vicini alle esigenze dei nostri clienti.&quot;</p>
        <p><em><strong>Maurizio Magnani</strong></em><br><em>Senior Developer Uniteam</em></p>
        <p>&nbsp;</p>

        <img src="images/quote.png" alt="" width="18" height="17" class="floated" />
        <p>Sviluppare in Janox mi ha sempre dato soddisfazione, gli aspetti
           positivi sono sicuramente molteplici: creare applicazioni PHP
           db-oriented con Janox è rapido ed intuitivo.&quot;</p>
        <p><em><strong>Riccardo Piccini</strong></em><br><em>Senior Developer Ekovision</em></p>
        <p>&nbsp;</p>
