

        <!-- Contattaci -->
        <h2><img src="images/bullet_topic.png" class="floated">E-mail<br>
          <span>Richiedi informazioni | <a href="mailto:info@janox.it">Info@janox.it</a></span></h2>
        <a href="mailto:info@janox.it"><img src="images/mail.png" alt="info@janox.it" width="32" height="32" class="floated"></a>
        <p>Il modo migliore per richiedere informazioni su Janox, senza
           impegno, è scriverci
           a <a href="mailto:info@janox.it">info@janox.it</a></p>
        <br>
        <p>&nbsp;</p>

        <h2><img src="images/bullet_support.png" class="floated">Supporto<br>
            <span>Canale pubblico di assistenza e supporto allo
            sviluppo | <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank">Assistenza</a></span></h2>
        <p>Il canale pubblico di supporto è il luogo idale dove
           risolvere i tuoi dubbi su Janox.</p>
        <p>Cerca fra gli argomenti già trattati e risolti con i
           nostri sviluppatori oppure sottoponici le tue richieste: ci
           prenderemo subito cura di te!</p>
        <p><a href="support.html">Vai alla pagina del supporto »</a></p>

        <p>&nbsp;</p>
