        <!-- Documentazione -->
        <h2><img src="images/bullet_doc.png" class="floated">Documentazione</h2>
        <p><strong>Wiki:</strong><br>
          <span>Home | <a href="https://github.com/tvannini/janox/wiki/Home" target="_blank">Janox wiki</a></span><br>
          <span>Articolo | <a href="https://github.com/tvannini/janox/wiki/Installazione" target="_blank">Installazione</a></span><br>
          <span>Articolo | <a href="https://github.com/tvannini/janox/wiki/Demo" target="_blank">Applicazione Demo</a></span><br>
          <span>Articolo | <a href="https://github.com/tvannini/janox/wiki/JXOB" target="_blank">Janox Open Builder</a></span><br>
          Visita le nostre pagine wiki per accedere ad articoli e approfondimenti su Janox.</p>
        <p><strong>Documentazione delle funzioni:</strong><br>
          <span>HTML | <a href="../doc/reference/index.html" target="viewer">Reference</a></span><br>
          Manuale di riferimento delle funzioni Janox.</p>
        <p><strong>Introduzione allo sviluppo</strong><br>
          <span>HTML | <a href="../doc/guide/index.html" target="viewer">Il mio negozio online</a></span><br>
          Guida introduttiva allo sviluppo di una applicazione di base.</p>
        <h2>&nbsp;</h2>

        <!-- COMMUNITY -->
        <h2><img src="images/bullet_support.png" class="floated">Community<br>
          <span>Risorse | <a href="community.html">Pagina</a></span></h2>

        <p><strong>Google groups:</strong><br></p>
          <p><span>Pubblico | <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank">Assistenza</a></span><br>
          Canale pubblico di supporto: il posto migliore da cui cominciare se non sai da dove cominciare...</p>
          <p><span>Privato | <a href="https://groups.google.com/forum/#!forum/jxdev" target="_blank">Sviluppo</a></span><br>
          Canale di analisi, consultazione e proposte sullo sviluppo. Il canale è riservato alla community.</p>

        <h2>&nbsp;</h2>
