<!-- Article -->
<h2>Release stabile: <!--$last_release--><br>
    <span><!--$last_release_date--> |
    <a href="<!--$last_release_link-->"><!--$last_release_file--></a></span></h2>
<p>Se vuoi utilizzare Janox in ambienti effettivi di produzione e pretendi
   robustezza ed affidabilità, allora è questa la release che devi scaricare.</p>
<p>&nbsp;</p>

<h2 class='bg'>Release di sviluppo: <!--$dev_release--><br>
    <span><!--$dev_release_date--> |
    <a href="<!--$dev_release_link-->"><!--$dev_release_file--></a></span></h2>
<p>Se vuoi accedere ai più innovativi sviluppi di Janox e sperimentare le più
   recenti soluzioni allora scarica questa versione.<br>
   <b>NOTA BENE: questa release è sperimentale è non è indicata per ambienti
      di produzione!</b></p>
<p>&nbsp;</p>

<h2 class='bg'>Altri download<br>
    <span>Google Drive Folder |
    <a href="https://drive.google.com/open?id=0B8mE9nRIaUFEZjYzYzI2YTktMmQxZS00YzU1LWEyMjEtNmUyMTdmODMwZmVi" target='_blank'>Janox download</a></span></h2>
<p>Se hai altre esigenze specifiche visita la cartella di download di Janox.<br>
   Qui potrai trovare i singoli rilasci night-built e per ogni rilascio gli
   eseguibili di setup, sia Windows che Linux.</p>
<p>&nbsp;</p>
<iframe src="https://drive.google.com/embeddedfolderview?id=0B8mE9nRIaUFEZjYzYzI2YTktMmQxZS00YzU1LWEyMjEtNmUyMTdmODMwZmVi#list"
        style="width:100%; height:800px; border:0;"></iframe>




