<!-- Article -->
<h2><img src="images/bullet_download.png" class="floated">Ultima release stabile: <!--$last_release--><br>
    <span><!--$last_release_date--> |
    <a href="https://drive.google.com/open?id=<!--$last_release_link-->"><!--$last_release_file--></a></span></h2>
<p>Se vuoi utilizzare Janox in ambienti effettivi di produzione e pretendi
   robustezza ed affidabilità, allora è questa la release che devi scaricare.</p>
<p>&nbsp;</p>

<h2 class='bg'><img src="images/bullet_download.png" class="floated">Release di sviluppo: <!--$dev_release--><br>
    <span><!--$dev_release_date--> |
    <a href="https://drive.google.com/open?id=<!--$dev_release_link-->"><!--$dev_release_file--></a></span></h2>
<p>Se vuoi accedere ai più innovativi sviluppi di Janox e sperimentare le più
   recenti soluzioni allora scarica questa versione.<br>
   <b>NOTA BENE: questa release è sperimentale è non è indicata per ambienti
      di produzione!</b></p>
<p>&nbsp;</p>

<h2 class='bg'><img src="images/bullet_download.png" class="floated">Altri download<br>
    <span>Google Drive Folder |
    <a href="https://drive.google.com/open?id=0B8mE9nRIaUFEZjYzYzI2YTktMmQxZS00YzU1LWEyMjEtNmUyMTdmODMwZmVi" target='_blank'>Janox download</a></span></h2>
<p>Se cerchi altre versioni di Janox visita la cartella di download
   dove potrai trovare tutti i singoli rilasci.</p>
<p>&nbsp;</p>

<h2 class='bg'><img src="images/bullet_download.png" class="floated"><!--$dev_release--><br><span>Versione in sviluppo</span></h2>
<ul>
<!--$dev_releases_list-->
</ul>

<!--$releases_list-->

