        <!-- COMMUNITY -->
        <h2>Community<br>
          <span>Risorse | <a href="community.html">Pagina</a></span></h2>

        <p><strong>Google groups:</strong><br></p>
          <p><span>Pubblico | <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank">Assistenza</a></span><br>
          Canale pubblico di supporto: il posto migliore da cui cominciare se non sai da dove cominciare...</p>
          <p><span>Privato | <a href="https://groups.google.com/forum/#!forum/jxdev" target="_blank">Sviluppo</a></span><br>
          Canale di analisi, consultazione e proposte sullo sviluppo. Il canale è riservato alla community.</p>

        <h2>&nbsp;</h2>

        <!-- ACTIVITIES -->
        <h2>Attività<br />
          <span>Risorse | <a href="https://github.com/tvannini/jxrnt/commits">Pagina</a></span></h2>

        <!--$activities_list-->
        <h2>&nbsp;</h2>
