<!DOCTYPE html>
<html>
 <head>
  <title>Janox - The full cross-tech development suite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel='shortcut icon' type='image/x-icon' href='images/j.ico'>
  <link href="css/jxsite.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <div class="main">
    <div class="main_resize">
      <!-- HADER -->
      <div class="header">
        <div class="logo"><a href="#"><img src="images/logo.gif" border="0" alt=""></a></div>
        <div class="update"><!--$update--></div>
        <div class="clr"></div>
        <div class="menu">
          <ul>
            <li><a href="/index.html" class="<!--$page_home-->"><span>Home</span></a></li>
            <li><a href="/arch.html" class="<!--$page_arc-->"><span>Architettura</span></a></li>
            <li><a href="/news.html" class="<!--$page_news-->"><span>News</span></a></li>
            <li><a href="/download.html" class="<!--$page_download-->"><span>Download</span></a></li>
            <li><a href="/doc.html" class="<!--$page_doc-->"><span>Documentazione</span></a></li>
            <li><a href="/support.html" class="<!--$page_support-->"><span>Assistenza</span></a></li>
            <li><a href="/community.html" class="<!--$page_community-->"><span>Community</span></a></li>
            <li><a href="/servizi.html" class="<!--$page_servizi-->"><span>Servizi</span></a></li>
            <li><a href="/contact.html" class="<!--$page_contact-->"><span>Contattaci</span></a></li>
          </ul>
        </div>
        <div class="click">
          <p><a href="mailto:info@janox.it">Info@janox.it</a></p>
        </div>
        <div class="clr"></div>
      </div>
      <div class="band">&nbsp;</div>
      <!--                    MARGIN TOP: needed                     -->
      <div class="margin_top"></div>

      <!--            Top content (Main view or page title)          -->

      <!--$main_top-->

      <!--                     Bottom content                        -->

      <!--                  Bottom LEFT content                      -->
      <div class="main_left">
      <!--$main_left-->
      </div>
      <!--                  Bottom RIGHT content                     -->
      <div class="main_right">
      <!--$main_right-->
      </div>

      <div class="clr"></div>
      <p></p>
      <p></p>
      <p></p>
     </div><!-- Close main-resize -->

     <!--                              Footer                        -->

     <div class="footer">
       <div class="footer_resize">
         <p class="leftt"><span class="copyright">&copy;</span> Copyright www.janox.it &nbsp; &nbsp; &nbsp;
                                                        <a href="http://www.janox.it">Home</a> | <a href="contact.html">Contact</a> |
                                                        <a href="http://www.janox.it/news.html">RSS</a></p>
         <p class="right">Janox is distributed under the terms of the <a href="http://www.gnu.org/licenses/lgpl-3.0.txt">GNU Lesser General Public License (LGPL)</a></p>
         <div class="clr"></div>
       </div>
       <div class="clr"></div>
     </div>
   </div><!-- Close main -->
 </body>
</html>
