      <!-- Top-left: WELCOME -->
      <div class="first_left">
        <h2>Benvenuto in Janox, <br>la suite completa per lo sviluppo WEB</h2>
        <p>Janox ti permette di sviluppare PHP e HTML5 partendo dai dati e dai
           processi di connettività ed elaborazione.</p>
        <p>Janox è il tool di sviluppo pensato per le applicazioni complesse
           orientate ai dati, come gestionali, CRM e moduli di produzione.</p>
        <p>La potenza di portabilità, cicli di sviluppo-manutenzione e
           modularità fanno di Janox lo strumento ideale per lo sviluppo
           condiviso e la partnership.</p>
        <p></p>
        <!-- Link icons -->
        <p><a href="http://www.php.net" target="_blank" rel="nofollow"><img border="0" src="images/php32.png" style="width:48px;height:32px" title="www.php.net"></a>
        <a href="https://github.com/tvannini/jxrnt" target="_blank" rel="nofollow"><img border="0" src="images/github32.png" style="width:32px;height:32px" title="www.github.com"></a>
        <a href="https://groups.google.com/forum/#!forum/jxsupport" target="_blank" rel="nofollow"><img border="0" src="images/ggroups32.png" style="width:32px;height:32px" title="groups.google.com"></a>
        <a href="https://www.linkedin.com/in/tommaso-vannini-a0855a87" target="_blank" rel="nofollow"><img border="0" src="images/linkedin32.png" style="width:32px;height:32px" title="www.linkedin.com"></a>
        <a href="mailto:info@janox.it" target="_blank" rel="nofollow"><img border="0" src="images/email32.png" style="width:32px;height:32px" title="info@janox.it"></a></p>
      </div>

      <!-- Top-right: JANOX LOGO -->
      <div class="first_right">

        <!-- Top-right: SLIDES -->
        <div class="slides" onmouseenter="stop();" onmouseleave="start();">
          <div class="slide">
                      <!-- Article -->
                <img src="images/j.png">
                <p>Janox è software <b>open source</b> e viene distribuito gratuitamente
                   secondo i termini della
                   <a href="http://www.gnu.org/licenses/lgpl-3.0.txt">GNU Lesser General Public License (LGPL).</a></p>
                <h2><em>Janox, the full <i>cross-tech</i> development suite.</em></h2>
          </div>

          <!--$news_list-->

          <div class="slide-ctrls">
            <div class="btn-left" onclick="stopped=true;showDivs(-1)">&#10094;</div>
            <div class="btn-right" onclick="stopped=true;showDivs()">&#10095;</div>
            <span class="led" onclick="slideIndex=0;showDivs()"></span>
            <span class="led" onclick="slideIndex=1;showDivs()"></span>
            <span class="led" onclick="slideIndex=2;showDivs()"></span>
            <span class="led" onclick="slideIndex=3;showDivs()"></span>
          </div>

        </div>
        <script>

        var slideIndex = 1;
        var stopped    = false;
        var timer      = null;
        start();

        function showDivs(n) {

            slideIndex += n || 1;
            var i;
            var slides = document.getElementsByClassName("slide");
            if (slideIndex > slides.length) {
                slideIndex = 1
                }
            if (slideIndex < 1) {
                slideIndex = slides.length
                }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
                }
            slides[slideIndex-1].style.display = "block";
            var leds = document.getElementsByClassName("led");
            for (i = 0; i < leds.length; i++) {
                leds[i].className = leds[i].className.replace(" on", "");
                }
            leds[slideIndex - 1].className += " on";
            if (stopped) {
                if (timer) {
                    clearTimeout(timer);
                    }
                }
            else {
                timer = setTimeout(showDivs, 6000);
                }

            }

        function stop() {

            stopped = true;
            if (timer) {
                clearTimeout(timer);
                }

            }

        function start() {

            slideIndex-= 1;
            stopped    = false;
            showDivs();

            }

        </script>

      </div>
      <div class="bg"></div>
