        <!-- Article -->
        <h2><img src="images/bullet_topic.png" class="floated">La filosofia Janox<br>
          <span><i>Facile da utilizzare come un CMS, efficace come un RAD, potente
                come PHP</i></span></h2>
        <p>Un sistema RAD permette tempi di sviluppo e manutenzione impareggiabili,
           ma con forti limiti di potenzialità. Un linguaggio di sviluppo general
           purpose permette di affrontare qualunque impresa, ma con costi enormi di
           tempo e di strutturazione, soprattutto in applicazioni complesse.</p>
        <p>Janox ricerca un perfetto equilibrio fra questi strumenti, offrendo una
           stratificazione di differenti approcci di sviluppo attraverso i quali il
           programmatore può muoversi in completa libertà, a seconda delle esigenze,
           delle capacità e delle proprie strategie.</p>
        <p>Quindi la filosofia di Janox è di lasciare lo sviluppatore libero, in ogni
           momento, di trovare il proprio giusto equilibrio fra semplicità e potenza.</p>
        <p>&nbsp;</p>
        <!-- Article -->
        <h2 class="bg"><img src="images/bullet_topic.png" class="floated">Il paradigma di sviluppo<br>
          <span><i>L’interfaccia di sviluppo è costituita da un eseguibile compilato,
                dedicato al nostro particolare modello di RAD, basato sul rapporto tra
                repository e moduli esecutivi.</i></span></h2>
        <p>Janox offre un approccio table driven a tutta la struttura dell'applicazione
           e alla definizione di tutti gli elementi tramite repository. Le funzionalità
           di base, di interfaccia ed anche esecutive sono in larga parte ottenibili
           dalla definizione stessa dei repository.</p>
        <p>In questo modo lo sviluppatore può concentrare il proprio sforzo sulle
           soluzioni specifiche, senza limiti di integrazione, sia server-side che
           client-side, e con un vasto corredo di strumenti e strategie di alto livello.</p>
        <p>&nbsp;</p>
        <!-- Article -->
        <h2 class="bg"><img src="images/bullet_topic.png" class="floated">Write once, run everywhere<br>
        <span><i>Janox può essere eseguito su qualunque macchina dove sia presente una
              installazione PHP standard, senza bisogno di librerie aggiuntive.</i></span></h2>
        <p>Janox produce codice esecutivo PHP5-7 e interfacce HTML5, JavaScript e CSS3.
           Questo assicura una completa portabilità delle applicazioni attraverso
           piattaforme e tecnologie, in totale trasparenza.</p>
        <p>La potente astrazione di database e la vasta gamma di gateway disponibili
           consentono la stessa portabilità e la stessa trasparenza anche verso il DBMS.</p>
        <p>Questa portabilità consente allo sviluppatore di concentrarsi sullo sviluppo
           dei concetti, posticipando le più specifiche scelte tecnologiche ai momenti
           di produzione.</p>
