        <!-- DOWNLOAD -->
        <h2>Download<br />
          <span>Risorse | <a href="https://drive.google.com/open?id=0B8mE9nRIaUFEZjYzYzI2YTktMmQxZS00YzU1LWEyMjEtNmUyMTdmODMwZmVi">Pagina</a></span></h2>
        <p><strong>Last stable release: <!--$last_release--></strong><br>
          <span><!--$last_release_date--> | <a href="<!--$last_release_link-->"><!--$last_release_file--></a></span><br>
          Questa è la release di riferimento per ogni esigenza di produzione.</p>
        <p><strong>Development release: <!--$dev_release--></strong><br>
          <span><!--$dev_release_date--> | <a href="<!--$dev_release_link-->"><!--$dev_release_file--></a></span><br>
          Questa release è sperimentale: non deve essere usata in ambienti di
          produzione ed è dedicata alle sole attività di sviluppo.</p>
        <h2>&nbsp;</h2>

        <!-- ACTIVITIES -->
        <h2>Attività<br />
          <span>Risorse | <a href="https://github.com/tvannini/jxrnt/commits">Pagina</a></span></h2>

        <!--$activities_list-->

        <!-- ACTIVITIES LOOP -->
        <h2>&nbsp;</h2>
