

        <!-- Servizi -->
        <h2>Janox</h2>
        <img src="images/servizi.png" alt="Servizi" width="256" height="256" class="floated"></a>
        <p>Janox viene distribuito <b>gratuitamente</b>.</p>
        <p>Anche la partecipazione al canale di Supporto Janox è gratuita.
           Il canale di Supporto è il luogo ideale dove trovare informazioni e
           soluzioni per gli sviluppatori Janox di qualunque livello, sia per
           avvicinarsi alla struttura che per scoprire e padroneggiare le
           tecniche più evolute del sistema.</p>
        <p>La partecipazione al canale di Sviluppo, invece, è riservata agli
           sviluppatori Janox ed ai partner. Se vuoi partecipare anche tu,
           proporre le tue idee e dare il tuo contributo contattaci a
           <a href="mailto:info@janox.it">info@janox.it</a>.</p>
        <br>
        <p>&nbsp;</p>

        <h2 class="bg">Servizi</h2>
        <p>Janox è anche un mondo di servizi. Se vuoi:</p>
           <ul>
             <li><p>partecipare a corsi di introduzione e formazione;</p></li>
             <li><p>pianificare sessioni di supporto dedicate;</p></li>
             <li><p>partecipare al canale di Sviluppo di Janox;</p></li>
             <li><p>proporre nuovi sviluppi e nuove integrazioni per l'architettura;</p></li>
             <li><p>partecipare ad una comunità di sviluppo vitale e professionale...</p></li>
            </ul>
        <p>...allora contattaci ora, senza alcun impegno, all'indirizzo: <a href="mailto:info@janox.it">info@janox.it</a>.</p>

        <p>&nbsp;</p>
