        <!-- Support -->
        <h2><img src="images/bullet_support.png" class="floated">Supporto<br>
            <span>Canale pubblico di assistenza e supporto allo
            sviluppo.</span></h2>
        <p>Il canale pubblico di supporto è il luogo idale dove
           risolvere i tuoi dubbi su Janox.</p>
        <p>Cerca fra gli argomenti già tra trattati e risolti con i
           nostri sviluppatori oppure sottoponici le tue richieste: ci
           prenderemo subito cura di te!</p>
        <p class="bg"></p>
        <iframe id="viewer" name="viewer" src=""></iframe>
        <script type="text/javascript">
		   document.getElementById('viewer').src =
           'https://groups.google.com/forum/embed/?place=forum/jxsupport' +
           '&parenturl=' + encodeURIComponent(window.location.href);
        </script>