        <!-- Documentazione -->
        <h2>Documentazione<br />
          <span>Risorse | <a href="doc.html">Pagina</a></span></h2>
        <h2>&nbsp;</h2>

        <!-- COMMUNITY -->
        <h2>Community<br>
          <span>Risorse | <a href="community.html">Pagina</a></span></h2>

        <p><strong>Google groups:</strong><br></p>
          <p><span>Pubblico | <a href="https://groups.google.com/forum/#!forum/jxsupport">Assistenza</a></span><br>
          Canale pubblico di supporto: il posto migliore da cui cominciare se non sai da dove cominciare...</p>
          <p><span>Privato | <a href="https://groups.google.com/forum/#!forum/jxdev">Sviluppo</a></span><br>
          Canale di analisi, consultazione e proposte sullo sviluppo. Il canale è riservato alla community.</p>

        <h2>&nbsp;</h2>
